<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probando Materilize</title>
    <!-- <link rel="shortcut icon" type="image/jpg" href="media/índice.png" /> -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/form.css">
    <script src="js/pdfobject.js"></script>

    <link rel="stylesheet" href="/css/modalalta.css">
</head>



<body>
    <button id="myBtn">Open Modal</button>
    <!-- The Modal -->
    <div id="myModal" class="modal-pb ">


        <!-- Modal content -->
        <div class="modal-content-Alta-pb caja">
            <form id="idMiFormulario">
                <div class="modal-header-Alta-pb pb-bg-alta pb-CardHeader">
                    <!-- <span class="close">x</span> -->
                    <!-- <h2>Modal Header</h2> -->
                    <h5 style="margin:0;">ALTA AUDIENCIA - C.U.I.L. :
                        <span id="idCUIL">xxx</span> - <span id="idNombreApellidoRecibido">yyy</span>
                    </h5>
                </div>
                <br>
                <div class="modal-body-Alta-pb  card-content">
                    <div class="row" style="flex-wrap:wrap;">

                        <div class="col s12 m6 l6 x6">

                            <!-- <div class="input-field col s12 m12 l12 xl12">
                            <i class="material-icons prefix">bookmark</i>
                            <input id="idDataBase" type="text" class="validate">
                            <label for="idDataBase">ID</label>
                        </div> -->

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">today</i>
                                <input id="idFechaSistema" name="idFechaSistema" type="text" class="validate"
                                    required="" aria-required="true" placeholder=" ">
                                <label for="idFechaSistema ">Fecha Carga en Sistema</label>
                            </div>

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">today</i>
                                <input id="idFechaEmision" name="idFechaEmision" type="date" class="validate"
                                    required="" aria-required="true">
                                <label for="idFechaEmision">Fecha Emision</label>
                            </div>

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">today</i>
                                <input id="idFechaAudiencia" name="idFechaAudiencia" type="date" class="validate "
                                    required="" aria-required="true">
                                <label for="idFechaAudiencia">Fecha Audiencia</label>
                            </div>

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">alarm</i>
                                <input id="idHora" name="idHora" type="time" class="validate " required=""
                                    aria-required="true">
                                <label for="idHora">Hora Programada</label>
                            </div>

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">event_note</i>
                                <input id="idTipoReclamo" name="idTipoReclamo" type="text" class="validate" required=""
                                    aria-required="true">
                                <label for="idTipoReclamo">Tipo de Reclamo</label>
                            </div>

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="idComentario" name="idComentario" class="materialize-textarea"
                                    style="height: 106px;" data-length="120"></textarea>
                                <label for="idComentario">Comentarios de este Documento</label>
                            </div>
                        </div>

                        <div class="col s12 m6 l6 x6">


                            <div class="input-field col s12 m12 l12 xl12">
                                <div class=" center-align">
                                    <%- include ("partials/_pbCardPdfPreview.ejs") %>
                                </div>
                            </div>


                            <!-- <div class="input-field col s12 m12 l12 xl12">
                            <i class="material-icons prefix">http</i>
                            <textarea id="idProductiveBrains" class="materialize-textarea"
                            data-length="120"></textarea>
                            <label for="idProductiveBrains">PB Cloud</label>
                        </div> -->

                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">cloud</i>
                                <textarea id="idCartellone" name="idCartellone" class="materialize-textarea"
                                    data-length="120"></textarea>
                                <label for="idCartellone">Cartellone Cloud</label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer-Alta-pb card-action grey darken-3" style="text-align: right;">
                    <!-- <a class="btn pink darken-4 pb-btnFooter" id="botonGrabar" type="submit">
            <i class="material-icons right">save</i>Grabar
        </a>                             -->
                    <a class="btn pink darken-4 pb-btnFooter" id="botonGrabar" type="submit">
                        <i class="material-icons right">save</i>Grabar
                    </a>

                    <a class="btn blue darken-4 pb-btnFooter" id="CerrarModal">
                        <i class="material-icons right ">cancel</i>Cancelar
                    </a>
                </div>
            </form>
        </div>

    </div>

    <script>

        var modal = document.getElementById("myModal");// Get the modal
        var btnAbrirModal = document.getElementById("myBtn");// Get the button that opens the modal        
        var btnCerrarModal = document.getElementById("CerrarModal");// Get the CerrarModal element that closes the modal

        // When the user clicks the button, open the modal 
        btnAbrirModal.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
            btnCerrarModal.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>



    <script src="/js/funcionfechas.js"></script>


    <script>
        var fechaactualmysql = '';
        $(document).ready(function () {
            PDFObject.embed("/pdf/pdfwait.pdf", "#divPDF", { pdfOpenParams: { view: 'Fit' } });

            $('#idMiFormulario').trigger("reset");
            $('.tooltipped').tooltip({ delay: 50 });
            // InicializoFechas_id('idFechaEmision');
            // InicializoFechas_id('idFechaAudiencia');
            // AsignarFechaActual_id('idFechaSistema');
            // document.getElementById("mytext").value = "My value";
            // console.log(document.getElementById("idFechaSistema").value);
            document.getElementById("idFechaSistema").value = GetTodayDateV2();
            // InicializoHora_id('idHora');
            // Materialize.updateTextFields();

        });

        // Deshabilitacion de ID`s innecesarios
        $("#idDataBase").prop('disabled', true);
        // $("#idFechaSistema").prop('disabled',true);
        document.getElementById("idFechaSistema").disabled = true;

        $("#botontest").click(function () {
            alert($("#idFechaSistema").val());
        })


        $("#botonGrabar").click(function (event) {
            event.preventDefault();//stop submit the form, we will post it manually.            
            var form = $('#idMiFormulario')[0];// Get form

            var data = new FormData(form); // Create an FormData object 


            // If you want to add an extra field for the FormData

            // data.append("ID", $("#id_ID").val()); id en caso de update
            // data.append("CUIL", $("#id_CUIL").val());

            data.append("aver", GetTodayDateV3());
            data.append("idFechaEmision", $("#idFechaEmision").val());
            data.append("idFechaAudiencia", $("#idFechaAudiencia").val());
            data.append("idHora", $("#idHora").val());
            data.append("idTipoReclamo", $("#idTipoReclamo").val());
            data.append("idComentario", $("#idComentario").val());
            data.append("idCartellone", $("#idCartellone").val());


            // disabled the submit button
            // $("#botonGrabar").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/test1recibo",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {

                    $("#result").text(data);
                    console.log("SUCCESS : ", data);
                    // $("#btnSubmit").prop("disabled", false);

                },
                error: function (e) {

                    $("#result").text(e.responseText);
                    console.log("ERROR : ", e);
                    // $("#btnSubmit").prop("disabled", false);

                }
            });

        });

    </script>


    <script src="js/divPDFscript.js"></script>






</body>

</html>