<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probando Materilize</title>
    <link rel="shortcut icon" type="image/jpg" href="media/índice.png" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/form.css">
    <script src="js/pdfobject.js"></script>
</head>



<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12 ">
                <div class="card  caja" style="background-color: #D6E0D3;">
                    <form action="/test1recibo" method="POST" enctype="multipart/form-data" id="idMiFormulario">
                        <!-- HEADER CARD -->
                        <div>
                            <h5 class="pb-CardHeader pb-bg-alta" id="idTitulo">
                                ALTA AUDIENCIA - C.U.I.L. :
                                <span id="idCUIL">xxx</span> - <span id="idNombreApellidoRecibido">yyy</span>

                            </h5>
                        </div>

                        <!-- CONTENT CARD -->
                        <div class="card-content" style="margin-top:10px;">
                            <div class="row" style="flex-wrap:wrap;">

                                <div class="input-field col s12 m6 l3 x3">

                                    <!-- <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">bookmark</i>
                                        <input id="idDataBase" type="text" class="validate">
                                        <label for="idDataBase">ID</label>
                                    </div> -->

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">today</i>
                                        <input id="idFechaSistema" name="idFechaSistema" type="text" class=" datepicker">
                                        <label for="idFechaSistema">Fecha Carga en Sistema</label>
                                    </div>



                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">today</i>
                                        <input id="idFechaEmision" name="idFechaEmision"type="text" class="validate datepicker">
                                        <label for="idFechaEmision">Fecha Emision</label>
                                    </div>

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">today</i>
                                        <input id="idFechaAudiencia" name="idFechaAudiencia" type="text" class="validate datepicker">
                                        <label for="idFechaAudiencia">Fecha Audiencia</label>
                                    </div>

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">alarm</i>
                                        <input id="idHora" name="idHora" type="text" class="validate timepicker">
                                        <label for="idHora">Hora Programada</label>
                                    </div>
                                </div>

                                <div class="input-field col s12 m6 l4 x4">

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">event_note</i>
                                        <input id="idTipoReclamo"  name="idTipoReclamo" type="text" class="validate">
                                        <label for="idTipoReclamo">Tipo de Reclamo</label>
                                    </div>

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="idComentario"  name="idComentario" class="materialize-textarea" style="height: 106px;"
                                            data-length="120"></textarea>
                                        <label for="idComentario">Comentarios de este Documento</label>
                                    </div>

                                    <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">cloud</i>
                                        <textarea id="idCartellone"  name="idCartellone"  class="materialize-textarea"
                                            data-length="120"></textarea>
                                        <label for="idCartellone">Cartellone Cloud</label>
                                    </div>

                                    <!-- <div class="input-field col s12 m12 l12 xl12">
                                        <i class="material-icons prefix">http</i>
                                        <textarea id="idProductiveBrains" class="materialize-textarea"
                                            data-length="120"></textarea>
                                        <label for="idProductiveBrains">PB Cloud</label>
                                    </div> -->



                                </div>

                                <div class="input-field col s12 m12 l5 x5">
                                    <div class="input-field col s12 m12 l12 xl12">
                                        <div class=" center-align">
                                            <%- include ("partials/_pbCardPdfPreview.ejs") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FOOTER CARD -->
                        <div class="card-action grey darken-3" style="text-align: right;">
                            <a class="btn pink darken-4 pb-btnFooter" id="botonGrabar" type="submit">
                                <i class="material-icons right">save</i>Grabar
                            </a>
                            <a class="btn blue darken-4 pb-btnFooter">
                                <i class="material-icons right ">cancel</i>Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script src="/js/funcionfechas.js"></script>


    <script>
        $(document).ready(function () {
            $('#idMiFormulario').trigger("reset");
            $('.tooltipped').tooltip({ delay: 50 });
            InicializoFechas_id('idFechaEmision');
            InicializoFechas_id('idFechaAudiencia');
            AsignarFechaActual_id('idFechaSistema');
            InicializoHora_id('idHora');
        });
        // Deshabilitacion de ID`s innecesarios
        $("#idDataBase").prop('disabled', true);
        $("#idFechaSistema").prop('disabled', true);


        $("#botonGrabar").click(function (event) {            
            event.preventDefault();//stop submit the form, we will post it manually.            
            var form = $('#idMiFormulario')[0];// Get form
           
            var data = new FormData(form); // Create an FormData object 
            // If you want to add an extra field for the FormData
            // data.append("ID", $("#id_ID").val());
            // data.append("CUIL", $("#id_CUIL").val());
            // data.append("idFechaSistema", $("#idFechaSistema").val());
            // data.append("idFechaEmision", $("#idFechaEmision").val());
            // data.append("idFechaSistema", $("#idFechaAudiencia").val());
            // data.append("HORAPROGRAMADA", $("#idHora").val());
            // data.append("RECLAMO", $("#idTipoReclamo").val());
            // data.append("COMENTARIO", $("#idComentario").val());
            // data.append("URLCARTELLONE", $("#idCartellone").val());
            // data.append("URLPB", $("#id_URLPB").val());

            // disabled the submit button
            $("#btnSubmit").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/test1recibo",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {

                    $("#result").text(data);
                    console.log("SUCCESS : ", data);
                    $("#btnSubmit").prop("disabled", false);

                },
                error: function (e) {

                    $("#result").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);

                }
            });

        });

    </script>


    <script src="js/divPDFscript.js"></script>





</body>

</html>